:root {
  --back-dark: #060941;
  --back-light: #C8C2C0;
}

body {
  --background: linear-gradient(135deg, #1f315e 0%, #060941 100%);
  --back: var(--back-dark);
  --text: #FFFFFF;
  --headings: #1ED7BE;
  --selection: #027BCE;
  --link: #4BB3FD;
  --blockquote: rgba(255, 255, 255, 0.1);

  --emphasis: var(--headings);
  --link-hover: rgba(255, 255, 255, 0.1);
}

body.light {
  --background: linear-gradient(62deg, #cce5ff 0%, #f3e5ff 100%);
  --back: var(--back-light);
  --text: #00103A;
  --headings: #0B48FF;
  --selection: #7DB5FF;
  --link: #3046D0;
  --blockquote: rgba(255, 255, 255, 0.25);
}

html {
  background: #2050AF;
}

