body {
  background: var(--back);
  background: var(--background);
  color: var(--text);
}

@mixin content {
  max-width: 42rem;
  margin: auto;
  padding: 0 1.5rem;
}

main {
  padding: 2rem 0;
}

header{
  padding: 0.5rem;
  background: rgba(0,0,0,0.2);

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  nav.main {
    @include content;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: var(--text);
      text-decoration: none;
      border: none;
    }

    span.theme-toggle {
      border-radius: 3px;
      width: 1.5em;
      height: 1em;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: calc(50% - 1px);
        margin-left: 1px;
        height: 90%;
        top: 1px;
        border-radius: 2px;
      }
    }
  }
}

.content{
  @include content;
}
