.social {
  font-size: 1.5rem;

  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 2em;
    margin: auto;
    vertical-align: center;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    padding: 0.25rem;
    color: var(--text);

    &, & svg {
      transition: color fill stroke ease-in-out 0.2s;
    }

    &:hover, &:hover > svg {
      background: none;
      color: var(--headings);
      stroke: var(--headings);
      fill: var(--headings);
    }

    &:not(:last-child) {
      margin-right: 0.5em;
    }

    svg {
      width: 1em;
      height: 1em;
      stroke: var(--text);
      fill: var(--text);
    }
  }
}
