table {
  &.definitions{
    margin-top: 1rem;

    td {
      vertical-align: top;
      padding-bottom: 0.5rem;
      &:first-child{
        padding-right: 1em;
        text-align: right;
      }
    }
  }
}
