body.dark{
  nav .theme-toggle{
    background: var(--back-light);
    border: 1px solid var(--back-light);
    &::before {
      background: var(--back-dark);
      left: 1px;
    }

    &:hover::before {
      left: 4px
    }
  }
}

body.light{
  nav .theme-toggle{
    background: var(--back-dark);
    border: 1px solid var(--back-dark);
    &::before {
      background: var(--back-light);
      right: 1px;
    }
    &:hover::before {
      right: 4px
    }
  }
}
