body.dark{
  nav .theme-toggle{
    background: #091740;
    &::before {
      content: '🌒';
      left: 0.25em;
    }

    &:hover{
      background: #6385C1;
      &::before {
        content: '🌓';
        left: 0.75em;
      }
    }
  }
}

body.light{
  nav .theme-toggle{
    background: #b2dafd;
    &::before {
      content: '🌔';
      right: 0.25em;
    }
    &:hover{
      background: #6385C1;
      &::before {
        content: '🌓';
        right: 0.75em;
      }
    }
  }
}
