@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Merriweather&display=swap');

:root {
  --font: 'Merriweather', serif;
  --heading_font: 'Barlow Semi Condensed', sans-serif;
}

body {
  font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
  font-family: var(--heading_font);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3, h4, h5, h6 {
  font-size: 1.5rem;
  font-weight: 500;
}

* + h1,h2,h3,h4,h5,h6 { margin-top: 2rem; }

a {
  color: var(--link);
  text-decoration: none;
  border-bottom: 2px dotted;
  padding: 0 3px;
  transition: background ease-out 150ms;
  &:hover{
    color: var(--link);
    background: var(--link-hover);
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    border-bottom: solid 1px;
    padding-bottom: 1px;
  }
}

p{
  line-height: 1.75em;
  & + p { padding-top: 1em; }
}

ol, li{
  line-height: 1.75em;
  & > p + p { padding-top: 0; }
}

li::marker { color: var(--headings)}

::selection,
::-moz-selection {
  background: var(--selection);
}

em {
  color: var(--emphasis);
  font-style: normal;
}

dl{
  dt {
    color: var(--emphasis);
    font-style: normal;
    font-weight: bold;
    display: inline-block;
  }

  dd {
    display: inline-block;
  }
}

blockquote {
  padding: 1em 1em;
  border-radius: 0 5px 5px 0;
  background: var(--blockquote);
  margin: 1em 0;

  p + p {
    padding-top: 0.25em;
  }
}

cite{
  display: block;
  font-style: italic;
  font-size: 0.75em;
  line-height: 1.25em;
}

ul {
  margin: 0 0 1rem;
}
