@import url('https://fonts.googleapis.com/css2?family=Lato&family=Syne&display=swap');

:root {
  --font: 'Lato', sans-serif;
  --heading_font: 'Syne', sans-serif;
}

body {
  font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
  font-family: var(--heading_font);
}

h1 {
  font-size: 2rem;
  margin: 2rem 0 0.25rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.25rem;
}

h3, h4, h5, h6 {
  margin: 1rem 0 0.12rem;
}

h3 { font-size: 1.25rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem;  color: var(--text)}

a {
  color: var(--link);
  text-decoration: none;
  border-bottom: 2px dotted;
  &:hover{
    color: var(--text);
    cursor: pointer;
    border-bottom: solid 1px;
    padding-bottom: 1px;
  }
}

p{
  line-height: 1.75em;
  & + p { padding-top: 1em; }
}

li::marker { color: var(--headings)}

::selection {
  background: var(--selection)
}
::-moz-selection {
  background: var(--selection)
}

em {
  color: var(--emphasis);
  font-style: normal;
}

dl{
  dt {
    color: var(--emphasis);
    font-style: normal;
    font-weight: bold;
    display: inline-block;
  }

  dd {
    display: inline-block;
  }
}

blockquote {
  padding-left: 1em;
  background: var(--blockquote);
  margin: 1em 0;
  p {
    line-height: 3em;
  }
}

ul {
  margin: 0 0 1rem;
}
