<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' cdnjs.cloudflare.com; font-src fonts.gstatic.com fonts.googleapis.com cdnjs.cloudflare.com; style-src 'self' fonts.googleapis.com cdnjs.cloudflare.com"
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" integrity="sha512-OivR4OdSsE1onDm/i3J3Hpsm5GmOVvr9r49K3jJ0dnsxVzZgaOJ5MfxEAxCyGrzWozL9uJGKz6un3A7L+redIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% seo %}
  </head>

  <body>
    <header>
      <nav class="main">
        <h1>
          <a href="/">Ad Whittingham</a>
        </h1>
        <span class="theme-toggle"></span>
      </nav>
    </header>
    <main>
      <div class="content">
        {{ content }}
      </div>
    </main>
  </body>
</html>
