<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% seo %}
  </head>

  <body>
    <header>
      <nav class="main">
        <h1>
          <a href="/">Ad Whittingham</a>
        </h1>
        <span class="theme-toggle"></span>
      </nav>
    </header>
    <main>
      <div class="content">
        {{ content }}
      </div>
    </main>
  </body>
</html>
